// fonts
$prim_font: "Open Sans", sans-serif;
$sec_font: "Amatic SC", sans-serif;
$ter_font: "Inter", sans-serif;

// colors
$prim_black: #212529;
$sec_black: #37373f;

$prim_gray: #7f7f90;
$sec_gray: #4f4f5a;
$ter_gray: #7d7d7d;
$gray_bg: #eeeeee;

$light_red: #e51414;
$dark-red: #ce1212;

// Transition Period
$transition: 0.3s;

// Gaps
$section_gap: 100px 0;
$main_gap: 20px;
$content_gap: 30px;

// Shadows
$main_shadow: #0000001a 3px 3px 15px 0px;
