/* Start Global Rules */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.section {
  padding: 100px 0;
}

.bg {
  background-color: #eeeeee;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
}
.section-title > span {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  color: #7f7f90;
}
.section-title h2 {
  font-family: "Amatic SC", sans-serif;
  color: #37373f;
  font-size: 50px;
  font-weight: normal;
  line-height: 0.9;
}
.section-title h2 span {
  color: #ce1212;
}

/* End Global Rules */
/* Start Home */
header {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1019607843) 3px 3px 15px 0px;
  padding: 25px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  display: block;
  color: #212529;
  font-size: 30px;
  font-weight: bold;
}
header .container .logo::after {
  content: ".";
  color: #ce1212;
}
header .container .show {
  display: none;
  cursor: pointer;
}
header .container .nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .container .nav li {
  position: relative;
}
header .container .nav li a {
  color: #7f7f90;
  font-weight: 600;
  font-size: 17px;
  padding: 5px;
}
header .container .nav li a::after {
  content: "";
  background-color: #ce1212;
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -7px;
  transition: width 0.3s;
}
header .container .nav li a:hover::after {
  width: 100%;
}
header .container .nav li a.active {
  color: black;
}
header .container .nav li a.active::after {
  width: 100%;
}
@media (max-width: 767px) {
  header .container .theme {
    display: none;
  }
  header .container .nav {
    display: none;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    justify-content: center;
    padding: 15px;
    position: absolute;
    top: 100%;
    right: 0;
  }
  header .container .nav li a {
    color: white;
    font-weight: 400;
  }
  header .container .nav li a.active {
    color: #fefded;
    font-weight: 600;
  }
  header .container .show {
    display: block;
  }
  header .container .show:hover + ul {
    display: flex;
  }
}
header .container .theme {
  font-size: 25px;
  cursor: pointer;
}

/* End Home */
/* Start Home */
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.home .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.home .container .text {
  max-width: 50%;
}
.home .container .text h2 {
  color: #37373f;
  font-family: "Amatic SC", sans-serif;
  font-size: 65px;
  font-weight: 600;
}
.home .container .text p {
  color: #4f4f5a;
  margin: 20px 0;
  max-width: 80%;
}
.home .container .text .buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.home .container .text .buttons .book {
  background-color: #ce1212;
  color: white;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 25px;
  border-top-left-radius: 0;
  transition: background-color 0.3s;
}
.home .container .text .buttons .book:hover {
  background-color: #e51414;
}
.home .container .text .buttons .video {
  color: black;
  font-weight: bold;
  z-index: 1;
  transition: color 0.3s;
}
.home .container .text .buttons .video i {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  position: relative;
}
.home .container .text .buttons .video i::after {
  content: "";
  background-image: linear-gradient(to right, #ce1212 50%, transparent 50% 100%);
  width: 125%;
  height: 125%;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -6px;
  z-index: -1;
}
.home .container .text .buttons .video:hover {
  color: #ce1212;
}
.home .container .image {
  padding: 20px;
  max-width: 450px;
}
.home .container .image img {
  width: 100%;
}
@media (max-width: 991px) {
  .home .container .text {
    order: 1;
    max-width: 100%;
    text-align: center;
  }
  .home .container .text p {
    max-width: 100%;
  }
  .home .container .text .buttons {
    flex-direction: column;
    gap: 20px;
  }
}

/* End Home */
/* Start Chefs */
.chefs .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
.chefs .container .box {
  width: 350px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1019607843) 3px 3px 15px 0px;
  transition: transform 0.3s;
  position: relative;
}
.chefs .container .box .image {
  position: relative;
}
.chefs .container .box .image img {
  width: 100%;
}
.chefs .container .box .image::before {
  content: "";
  background-image: url(../images/wave.svg);
  width: 100%;
  height: 78px;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 400px) {
  .chefs .container .box .image::before {
    bottom: -15px;
  }
}
.chefs .container .box .text {
  padding: 20px;
  color: #7f7f90;
  text-align: center;
  position: relative;
}
.chefs .container .box .text h3 {
  color: #212529;
  margin-bottom: 5px;
}
.chefs .container .box .text p {
  margin-top: 10px;
  font-style: italic;
  font-size: 15px;
  line-height: 1.4;
}
.chefs .container .box .links {
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 60px;
  right: -42px;
  transition: right 0.3s;
}
.chefs .container .box .links a {
  display: block;
  color: rgba(55, 55, 63, 0.4);
  font-size: 22px;
  padding: 10px;
}
.chefs .container .box:hover {
  transform: scale(1.1);
}
.chefs .container .box:hover .links {
  right: 10px;
}

/* End Chefs */
/* Start Gallery */
.gallery .container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.gallery .container .col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.gallery .container .col .image {
  border: 5px solid white;
  position: relative;
  overflow: hidden;
}
.gallery .container .col .image img {
  display: block;
  width: 100%;
}
.gallery .container .col .image .over-lay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  position: absolute;
  left: 0;
  bottom: -100%;
  transition: bottom 0.3s;
}
.gallery .container .col .image .over-lay h3 {
  font-size: 24px;
  font-family: "Inter", sans-serif;
}
.gallery .container .col .image .over-lay p {
  padding: 20px;
}
.gallery .container .col .image:hover .over-lay {
  bottom: 0;
}
@media (max-width: 767px) {
  .gallery .container {
    flex-wrap: wrap;
  }
}

/* End Gallery */
/* Start Contact */
.contact .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact .container iframe {
  height: 350px;
  border-radius: 8px;
}
.contact .container .info {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.contact .container .info .box {
  width: calc(50% - 15px);
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #f5f5f5;
  padding: 25px;
  border-radius: 8px;
}
.contact .container .info .box i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #ce1212;
  border-radius: 50%;
  color: white;
}
.contact .container .info .box .text {
  flex: 1;
}
.contact .container .info .box .text h3 {
  font-family: "Inter", sans-serif;
  color: #7d7d7d;
  font-size: 20px;
  margin-bottom: 5px;
}
.contact .container .info .box .text p,
.contact .container .info .box .text a {
  color: #212529;
}
@media (max-width: 767px) {
  .contact .container .info .box {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
}
.contact .container form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.1019607843) 3px 3px 15px 0px;
  padding: 20px;
  border-radius: 4px;
}
.contact .container form input,
.contact .container form textarea {
  width: 100%;
  padding: 20px;
  border: 2px solid #e8e3e3;
  border-radius: 8px;
  transition: box-shadow 0.3s;
}
.contact .container form input[name=name], .contact .container form input[name=email],
.contact .container form textarea[name=name],
.contact .container form textarea[name=email] {
  width: calc(50% - 10px);
}
@media (max-width: 767px) {
  .contact .container form input[name=name], .contact .container form input[name=email],
  .contact .container form textarea[name=name],
  .contact .container form textarea[name=email] {
    width: 100%;
  }
}
.contact .container form input[name=send],
.contact .container form textarea[name=send] {
  background-color: #ce1212;
  border-radius: 40px;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 15px 30px;
  font-size: 17px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
.contact .container form input[name=send]:hover,
.contact .container form textarea[name=send]:hover {
  background-color: #e51414;
}
.contact .container form input:focus,
.contact .container form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px 1px #ce1212;
}

/* End Contact */
/* Start Footer */
footer {
  background-image: url(../images/textured-metal-background.jpg);
  padding: 40px 0;
  position: relative;
}
footer .container {
  display: flex;
  gap: 30px;
}
footer .container .col {
  padding: 0 10px;
  color: #fefded;
  z-index: 1;
}
footer .container .col .logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
footer .container .col .logo span {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
footer .container .col .logo span::after {
  content: ".";
  color: #ce1212;
}
footer .container .col .logo img {
  width: 40px;
}
footer .container .col p {
  margin: 10px 0;
  line-height: 1.4;
}
footer .container .col h3 {
  color: white;
  margin: 10px 0;
  font-size: 20px;
}
footer .container .col:first-child {
  max-width: calc(25% - 30px);
}
footer .container .col:first-child h3 {
  padding: 10px 0;
  text-align: center;
  position: relative;
}
footer .container .col:first-child h3::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #7d7d7d;
  position: absolute;
  bottom: 0;
  left: 0;
}
footer .container .col:first-child .social .links {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}
footer .container .col:first-child .social .links a {
  color: #fefded;
}
footer .container .col:nth-child(2) {
  max-width: 50%;
}
footer .container .col:nth-child(2) .form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 5px;
}
footer .container .col:nth-child(2) .form input[type=email] {
  flex: 1;
  outline: none;
  border: none;
  padding: 10px;
}
footer .container .col:nth-child(2) .form .subs {
  border: none;
  padding: 10px;
  color: white;
  background-color: #ce1212;
}
footer .container .col:nth-child(2) .form .subs::before {
  content: "\f0e0";
  font-family: "Font Awesome 6 Free";
  font-weight: bold;
  margin-right: 10px;
}
footer .container .col:nth-child(2) .links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
footer .container .col:nth-child(2) .links a {
  padding: 5px 0;
  width: calc(50% - 15px);
  color: #fefded;
  transition: 0.3s;
}
footer .container .col:nth-child(2) .links a:hover {
  transform: translateX(10px);
  background-color: #222;
}
footer .container .col:last-child {
  max-width: calc(25% - 30px);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .container .col:last-child a {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .container .col:last-child a i {
  font-size: 25px;
  color: #ce1212;
}
footer .container .col:last-child a span {
  color: #fefded;
}
@media (max-width: 991px) {
  footer .container .col {
    max-width: 100% !important;
  }
}
@media (max-width: 991px) {
  footer .container {
    flex-direction: column;
  }
}
footer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
}

/* End Footer *//*# sourceMappingURL=main.css.map */